div{
    height: 100px;
    width: 100px;
    background-color: #4dff00ff;
    margin: 0 auto; /*center*/

    margin-top: 10px;
    /* transition-duration: 1s;
    transition-delay: 0.5s; */
    transition: margin-top 2s ease-in-out 0.2s;
}

div:hover{
    /* background-color: cornflowerblue;
    border-radius: 50%; */
    margin-top: 400px;
} 

